<div class="custom_loader">
    <div class="custom_loader_test">
        <div id="seconds" class="seconds">
          <div id="bar" class="bar"></div>
        </div>
    </div>
</div>


<!--Header Area Start-->
<header class="header-three list">
    <!--Logo Mainmenu Start-->
    <div class="header-logo-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-menu-bg">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="logo">
                                    <a><img src="assets/img/logo/logo.png" alt="ADVENTURES"></a>
                                    <div class="hidden-md hidden-lg" style="float:right">
                                        <div for="drawer-toggle" id="drawer-toggle-label">
                                            <div id="nav-icon3">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <div class="mainmenu">
                                    <nav>
                                        <ul id="nav" >
                                            <li class="clickable"><a routerLink="home">Home</a>
                                            </li>
                                            <li class="clickable"><a routerLink="race">About</a>
                                            </li>
                                            <li class="clickable"><a routerLink="stages">Stages</a>
                                            </li>
                                            <li><a style="text-decoration: none; cursor: pointer;">Participate</a>
                                                <div class="megamenu">
                                                    <div class="megamenu-list clearfix">
                                                        <span>
                                                            <a class="mega-title">I want to ride</a>
                                                            <a class="clickable" routerLink="chat">Register Now</a>
                                                            <a href="https://www.townscript.com/e/13th-hero-mtb-himalaya-2017-333434" target="_blank">Pay Race Fee</a>
                                                        </span>
                                                        <span>
                                                            <a class="mega-title">I want to Contribute</a>
                                                            <a class="clickable" routerLink="volunteer">Volunteer</a>
                                                        </span>
                                                        <span>
                                                            <a class="mega-title">Know about the race</a>
                                                            <a class="clickable" routerLink="hospitality"> Hospitality</a>
                                                            <a class="clickable" routerLink="physiotherapy"> Physiotherapy</a>
                                                            <!-- <a class="clickable" routerLink="">Prologue</a> -->
                                                        </span>

                                                        <span>
                                                            <a class="mega-title">Terms and Documentation</a>
                                                            <a class="clickable" routerLink="rules">Rules & Regulations</a>
                                                            <a class="clickable" routerLink="tnc">Terms & Conditions</a>
                                                            <a class="clickable" routerLink="travel">Travel Guide</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="clickable"class="hidden-md hidden-sm hidden-xs"><a routerLink="gallery">Memories</a>
                                            </li>
                                            <li class="clickable"><a routerLink="contact">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <div class="hidden-md hidden-lg col-sm-12">

                               <nav id="drawer" class="nav-mobile">
                                  <ul>
                                     <li style="display:none"><a routerLink="home">Home</a></li>
                                     <li style="display:none"><a routerLink="race">About</a></li>
                                     <li style="display:none"><a routerLink="stages">Stages</a></li>
                                     <li style="display:none"><a routerLink="chat">Register</a></li>
                                     <li style="display:none"><a routerLink="contact">Contact</a></li>
                                  </ul>
                               </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Logo Mainmenu-->


</header>
<!--End of Header Area-->
