<!--Footer Widget Area Start-->
<div class="footer-widget-area hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="single-footer-widget contact-text-info">
                    <h4>Contact Us</h4>
                </div>
                <div class="col-md-4">
                    <div class="single-footer-widget contact-text-info">
                        <div class="footer-widget-list">
                            <ul>
                                <li class="icon send">A5, MC Parking cum commercial complex, Shimla, Himachal Pradesh, India
                                171001</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-footer-widget contact-text-info">
                        <div class="footer-widget-list">
                            <ul>
                                <li class="icon envelope">contact@mtbhimalaya.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-footer-widget contact-text-info">
                        <div class="footer-widget-list">
                            <ul>
                                <li class="icon phone">+91-177-2659797</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-footer-widget contact-text-info">
                    <h4>Important Links</h4>
                </div>
                <div class="footer-widget-list">
                    <ul>
                        <li class="icon"><a href="http://www.hastpa.org/">HASTPA</a></li>
                        <li class="icon"><a href="http://herocycles.com">Hero Cycles</a></li>
                        <li class="icon"><a href="http://utbikes.com">UT Bikes</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="footer-link">
                    <a target="_blank" href="https://www.facebook.com/MtbHimalaya/"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="https://twitter.com/mtbhimalaya"><i class="fa fa-twitter"></i></a>
                    <a style="display:none" target="_blank" href="https://plus.google.com/+MTBHimalaya"><i class="fa fa-google-plus"></i></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCsSxPbajeClOaIX6ahDq9_g"><i class="fa fa-youtube"></i></a>
                    <a target="_blank" href=" http://instagram.com/mtbhimalaya/"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
            </div>
        </div>
    </div>
</div>
<!--End of Footer Widget Area-->


<!--Footer Area Start-->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <span>Copyright © 2017 <a href="index.html#">HASTPA</a>. Designed by <a target="_blank" href="https://www.linkedin.com/in/abhijitsrivastava/">Abhijit Srivastava</a></span>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <nav>
                    <ul id="footer-menu">
                        <li><a routerLink="home">Home</a></li>
                        <li><a routerLink="race">About Race</a></li>
                        <li><a routerLink="chat">Rider Registration</a></li>
                        <li><a routerLink="hospitality">Hospitality</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!--End of Footer Area-->
