<!--Banner Area Start-->
<div class="banner-area-contact list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title title-three text-center">
                    <div class="title-border" style="padding-bottom:30px">
                        <h1 style="color:#00c0ff">We just feel so fortunate, <span>to talk to people</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="breadcrumb three">
                    <li><a href="index.html">Home</a></li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End of Banner Area-->


<!--Contact Information Area Start-->
<div class="contact-information-area" style="padding-bottom:15px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <div class="title-border">
                        <h1>Contact <span>Information</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="contact-info text-center">
                    <div class="contact-image">
                        <div class="contact-icon">
                            <div class="icon-table-cell">
                                <img class="primary-img" src="assets/img/icon/contact-1.png" alt="">
                                <img class="secondary-img" src="assets/img/icon/contact-1-hover.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h4>Address</h4>
                        <p> A5, MC Parking cum commercial complex,
                            Shimla, Himachal Pradesh,
                            India 171001</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info text-center">
                    <div class="contact-image">
                        <div class="contact-icon">
                            <div class="icon-table-cell">
                                <img class="primary-img" src="assets/img/icon/contact-2.png" alt="">
                                <img class="secondary-img" src="assets/img/icon/contact-2-hover.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h4>Phone</h4>
                        <p>+91-177-2659797<br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info text-center">
                    <div class="contact-image">
                        <div class="contact-icon">
                            <div class="icon-table-cell">
                                <img class="primary-img" src="assets/img/icon/contact-4.png" alt="">
                                <img class="secondary-img" src="assets/img/icon/contact-4-hover.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="contact-text">
                        <h4>Email</h4>
                        <p>contact@mtbhimalaya.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Contact Information Area-->


<app-team-hastpa></app-team-hastpa>
