<!--Banner Area Start-->
<div class="banner-area-physio list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title title-three text-center">
                    <div class="title-border" style="padding-bottom:30px">
                        <h1 style="color:#00c0ff">We believe that <span>the other person is on our side</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="breadcrumb three">
                    <li><a>Home</a></li>
                    <li>Hospitality</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End of Banner Area-->
<div class="contact-information-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center" >
                    <div class="title-border">
                        <h1>Race <span>Hospitality</span></h1>

                    </div>
                    <p>Our campsites are located in some of the most serene places and you will feel right in the lap of mother nature. Nestled in fairy-tale meadows and pine trees our camps are a nature lovers dream. Every effort is made to ensure riders get a good comfortable stay. The camping crew is one of the highest quality available in India and to provide such facilities in these remote areas is quite a challenge. The riders must appreciate the fact that these places are away from developed cities and the conditions will have to be adapted to.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Newsletter Area Start-->
<div class="race-hospitality">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <div class="title-border">
                        <h1 class="text-white">Rider <span> Area</span></h1>
                    </div>
                    <p class="text-white">
                        A rider area is setup with tents pitched next to each other. Based on your registration details you will either be sharing a two man tent or will be alone in one. This year we will be setting up the camps in advance. The crew will be setting up the camp one day in advance. We cannot guarantee the same tent each day, however the tents will be identical. Along with this we’ll provide mattresses (air/foam) & sleeping bag. All individuals will be keeping the same sleeping bag through the race. Anything else that you might need for sleeping must be communicated well in advance or must be carried by yourself.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Newsletter Area-->


<!--Blog Area Start-->
    <div class="blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hospitality-details">
                    <p>
                        <b>HOTEL</b><br>
                        <span class="start_space"></span>A rider area is setup with tents pitched next to each other. Based on your registration details you will either be sharing a two man tent or will be alone in one. This year we will be setting up the camps in advance. The crew will be setting up the camp one day in advance. We cannot guarantee the same tent each day, however the tents will be identical. Along with this we’ll provide mattresses (air/foam) & sleeping bag. All individuals will be keeping the same sleeping bag through the race. Anything else that you might need for sleeping must be communicated well in advance or must be carried by yourself.
                    </p>

                    <p>
                        <b>SHOWERS & TOILETS</b><br>
                        <span class="start_space"></span>Nearly 10 temporary shower tents and toilet tents (with arti cial toilet seats) are pitched each day for riders. We’ll also provide shampoo pouches, and small soap bars. Water is readily available at all campsites for toilets/showers and washing bikes. Both hot and cold water will be provided in buckets. We request all to not waste water. Although there is no limit to the number of buckets each rider gets, we suggest that each rider takes one hot water bucket.
                    </p>


                    <p>
                        <b>TRANSPORTATION</b><br>
                        <span class="start_space"></span>The race provides the backup & transportation options for any mechanical breakdown during the race. The rider & bike are transported to the stage end in the transport vehicle. Transport vehicle sweeps at the end covering all the participants on the route.
                        <br>
                        <span class="start_space"></span>Participants who does complete the stage in the stipulated have to stop riding & get transported to the stage end in transport vehicle. For a rider, the support of transport vehicle in any form during the live stage is considered DNF (Did Not Finish) for the respective stage. Please read 'Rules & Regulations' carefully.
                    </p>

                    <p>
                        <b>SAFETY & RESCUE</b><br>
                        <span class="start_space"></span>First Aid kits are available with all of cial vehicles, bike marshals, and at all feed stations on the route.An ambulance is always available on standby on the route. Primary Health Centers & Hospitals available on the route.
                    </p>

                    <p>
                        <b>EVACUATION</b><br>
                        <span class="start_space"></span>Rider tracking is done throughout the route by each marshals & rescue team. We use dedicated wireless radio system for effective communication. Accident prone areas are recognized & adequately manned/marshalled. A well equipped expert rescue team is always ready; stationed strategically on the route. There is 1 of cial crew for every 2 riders at the event.
                        <br>
                        <span class="start_space"></span><b>The response time of evacuation will be approx. 12-15 min.</b><br>

                        <span class="start_space"></span><span class="start_space"></span>+ All student riders should get an afdavit signed from their parents.<br>
                        <span class="start_space"></span><span class="start_space"></span>+ Each participant is responsible for their own medical insurance.<br>

                    </p>
                </div>
            </div>
        </div>
    </div>
<!--End of Blog Area-->

<div class="contact-information-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center" >
                    <div class="title-border">
                        <h1><span>FOOD</span></h1>
                    </div>
                    <p>
                        Like the rest of the campsite a temporary campsite is setup each day. The kitchen is accompanied by a dining are where meals are served. There is no sitting arrangement for meals however the riders can use the camp chairs that are available for use. It is a common sight to see riders interacting and sharing a laugh or two around the camp- re while nishing their meals. Dinner and breakfast are an ideal time to enjoy a conversation and build the camaraderie this race is famous for. A nice beer and good Indian food will always be there (well almost). The meals are a good combination of Indian and Continental food. Nutrition and taste are considered while de ning the menus and it is ensured that the huge geographical variance in the rider set is catered to. Packaged drinking water is always available.
                    </p>
                </div>
                <div class="hospitality-details">
                    <div class="col-md-4">
                        <b>BREAKFAST</b>:<br>
                        Breakfast (7:30-9:00 am) is usually rich in carbohydrates and Fiber

                        <ul>
                            <li>Milk/Coffee/Tea</li>
                            <li>Corn akes/Muesli/Oats</li>
                            <li>Bread (with jam & butter)</li>
                            <li>Parantha (Indian stuffed Bread)</li>
                            <li>Boiled/Mashed Potatoes</li>
                            <li>Curd (Yogurt) as per availability</li>
                            <li>Occasional Indian Curry</li>
                            <li>Occasional Pasta</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <b>SNACKS</b>: <br>
                        Snacks (5:30-6:30 pm) are provided when all riders have reached the camp:
                        <ul>
                            <li>Soup</li>
                            <li>Egg Omelette</li>
                            <li>Bread</li>
                            <li>Beans or Chik Peas Salad Chicken Biscuits/Cookies/Cakes Tea</li>
                            <li>Other nger food</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <b>DINNER:</b> <br>
                        Dinner (7:30-9:00 pm) is heavier with a richer source of proteins:
                        <ul>
                            <li>Rice</li>
                            <li>Roti</li>
                            <li>Paneer (Cottage cheese) Curry Indian Mutton/Chicken Curry Dal (Lentils)</li>
                            <li>Eggs</li>
                            <li>Pasta</li>
                            <li>Mixed Vegetables</li>
                            <li>Salads</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <b>RACE FOOD</b>
                        <br>
                        In between stages we will setup 2-4 feed zones depending on the dif culty and nature of the stage. The feed-zones are usually manned by 1-2 people and carry the following food/drink items:
                        <ul>
                            <li>Sandwiches</li>
                            <li>Chapathi Rolls</li>
                            <li>ORS (Salts packets)</li>
                            <li>Juice</li>
                            <li>Boiled Eggs</li>
                            <li>Boiled Potatoes</li>
                            <li>Biscuits</li>
                            <li>Candies & Chocolates</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
