<!--Banner Area Start-->
<div class="banner-area-race list hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title title-three text-center">
                    <div class="title-border" style="padding-bottom:30px">
                        <h1 style="color:#00c0ff">Know more about <span>The Himalayan Epic</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="breadcrumb three">
                    <li><a href="index.html">Home</a></li>
                    <li>{{breadcrum}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="hidden-md hidden-lg">
  <div class="row mobile-breadcrum-container">
      <div class="col-md-12 mobile-breadcrum-row">
          <ul class="mobile-breadcrum">
              <li><a href="index.html">Home</a></li>
              <li>{{breadcrum}}</li>
          </ul>
      </div>
  </div>
</div>
<!--End of Banner Area-->


<!--Service Area Start-->
<div class="service-area text-center" style="margin-top:15px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <div class="title-border">
                        <h1>Welcome to <span> the Race</span></h1>
                    </div>
                    <p>The Himalayas epitomize a people’s civilisational identity that goes back to the dawn of history. Formed as a result of a continental collision, emphasised by the fact that once there used to be sedimentary rocks which with the passage of time under high pressure and temperature have metamorphosed to the present day meta-sedimentary rocks which are still active in nature. From the famous silk route to the present day urbanisation, they have a lot of relevance dating back to the time they served as a guard from various invasions and now to a meeting ground for different races, culture, and religion.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Service Area-->


<div class="container">
    <div class="row video-cont">
        <div class="col-md-12" style=""></div>
        <div class="col-md-7" style="padding-top:30px; padding-bottom:20px">
                <div class='embed-container'><iframe src='http://www.youtube.com/embed/RH68CeEy5zc' frameborder='0' allowfullscreen></iframe></div>
        </div>
        <div class="col-md-5">
            <h3 style="padding-top:10px">Wilderness at <span class="hidden-sm"><br></span>Hero MTB Himalaya</h3>
            <p>
                We invite you to embark upon a journey in the lap of mother nature - wilderness all around, adventure right around the corner. An opportunity to experience the great Himalayan experience.<br><br>
                Venue for MTB mountain biking comes under the 'one of the most scenic destinations for camping' category, which is a crown jewel in itself.<br><br>
                Sleeping outdoors in tents after a full belly is nothing less than a feast! Riding the exclusive and scenic trails of the Himalayas and having a great time while getting to know other riders, listening to horror stories around the Himalayas after a rough day on the saddle- It's nothing even close to regular, fairy-taled camping owing to the fact that the campsites will be very close to the jungle, right in the foothills of Himalayas, where leopards, bears, exotic birds are a common sight!
            </p>
        </div>
    </div>


</div>


<div class="container section-padding">
  <div class="row">
    <div class="col-lg-12 section-title">
      <div class="title-border text-center">
          <h1>The<span> Timeline</span></h1>
      </div>
      <p class="text-center">
        Considered to be one of the toughest races in the world, Hero MTB Himalaya is not for the faint hearted. A race that takes the riders through the untouched parts of the Himalayas, bustling towns and villages, across streams – all set amidst the beauty of the mighty Himalayas. With a total elevation gain of almost 50,000 feet in the previous edition, even the most experienced riders found the altitude challenging.
      </p>
        <ul class="timeline hidden-md hidden-sm hidden-xs">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="assets/img/stages/thumb_c_arival.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>September 27<sup>th</sup> ,2017</h4>
              <h4 class="subheading">Recommended Arival</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">

              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="assets/img/stages/thumb_c_registration.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>September 28<sup>th</sup>, 2017</h4>
              <h4 class="subheading">Official Registration</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                  Registration: 12:00-7:00 pm / Race Hotel
                      <br>+ Registration Documentation
                      <br>+ Medical Certification & Insurance
                      <br>+ Rider Docket Distribution
                      <br>
                  Rider Briefing: 7:30 pm / Race Hotel
                      <br>+ Race Route & Rules Briefing
                      <br>
                  Dinner: 8:30 pm / Race Hotel
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="assets/img/stages/thumb_c_flagoff.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>September 29<sup>th</sup>, 2017</h4>
              <h4 class="subheading">DAY 1 FLAG OFF</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                    Breakfast: 6:30-7:30 am / Race Hotel
                <br>Start: 8:00 am / Race Hotel <br>Flag Off: 9:00 am / The Ridge, Shimla
                <br>+ Chief Guest Speech & Flag Off
                <br>End: 6:00 pm / Race Campsite 1
                <br>Presentation: 7:30 pm
                <br>Dinner: 8:00 pm
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="assets/img/stages/thumb_c_restday.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>October 3<sup>rd</sup>, 2017</h4>
              <h4 class="subheading">Day4 Rest Day</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="assets/img/stages/thumb_c_finish.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>October 7<sup>th</sup>, 2017</h4>
              <h4 class="subheading">DAY 9 STAGE 8 + PODIUM FINISH </h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                  Breakfast: 7am
                  <br>Start: 8:00 am / Race Campsite 8
                  <br>Flag in: 5:30pm / Dharamshala
                  <br>+ Podium Finish + Prize distribution
                  <br>Closing Ceremony & Dinner: 7:30
              </p>
            </div>
          </div>
        </li>
      </ul>

        <ul class="adaptive-list hidden-lg" style="text-align:center">
            <li>
                <p class="adaptive-header">1. September 27<sup>th</sup>, 2017: <i>Recommended Arival</i></p>
            </li>
            <li>
                <p class="adaptive-header">2. September 28<sup>th</sup>, 2017: <i>Official Registration</i></p>
                Registration: 12:00-7:00 pm / Race Hotel
                    <br>+ Registration Documentation
                    <br>+ Medical Certification & Insurance
                    <br>+ Rider Docket Distribution
                    <br>
                Rider Briefing: 7:30 pm / Race Hotel
                    <br>+ Race Route & Rules Briefing
                    <br>
                Dinner: 8:30 pm / Race Hotel
            </li>
            <li>
                <p class="adaptive-header">3. September 29<sup>th</sup>, 2017: <i>DAY 1 FLAG OFF</i></p>
                Breakfast: 6:30-7:30 am / Race Hotel
                <br>Start: 8:00 am / Race Hotel <br>Flag Off: 9:00 am / The Ridge, Shimla
                <br>+ Chief Guest Speech & Flag Off
                <br>End: 6:00 pm / Race Campsite 1
                <br>Presentation: 7:30 pm
                <br>Dinner: 8:00 pm
            </li>
            <li>
                <p class="adaptive-header">4. October 3<sup>rd</sup>, 2017: <i>Day 4 Rest Day</i></p>
            </li>
            <li>
                <p class="adaptive-header">5. October 7<sup>th</sup>, 2017: <i>DAY 9 STAGE 8 + PODIUM FINISH</i></p>
                Breakfast: 7am
                <br>Start: 8:00 am / Race Campsite 9
                <br>End: 5:00 pm / Dharamshala
                <br>Flag in: 5:30pm / Dharamshala
                <br>Podium Finish + Prize distribution
                <br>Closing Ceremony & Dinner: 7:30
            </li>
        </ul>
    </div>
  </div>
</div>


<hr>
<div class="row">
</div>


<!--Newsletter Area Start-->
 <div class="behind-the-game hidden-sm hidden-xs">
     <div class="container">
         <div class="row">
             <div class="col-md-12 col-sm-12">
                 <div class="section-title text-center">
                     <div class="title-border">
                         <h1 class="text-white">Play <span>behind the game</span></h1>
                     </div>
                     <p class="text-white">
                         Mountain biking is a tough sport to play. The sport made it’s way into the Olympics 20 years ago, back in 1996. Physically demanding and technically challenging, cycling off-road over rough terrain requires presence of mind and muscle. Riding several hundred kilometres in a day over the rough terrain that the sport commands is certainly not cushy.<br><br>

                         The mighty Himalayas set a perfect stage for a sport like this. Cradled in the lap of mother nature, the mountain ranges offer an ideal territory for a fanatical mountain biker.
                     </p>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!--End of Newsletter Area-->


 <!--Blog Area Start-->
 <div class="blog-area section-padding hidden-sm hidden-xs">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="section-title text-center">
                     <div class="title-border">
                         <h1>From a small rally to an<span><br> annual cross country race</span></h1>
                     </div>

                         <p>Mr Mohit Sood (President, Himalayan Adventure Sport & Tourism Promotion Association) had participated in car rallies himself and after working on the production side of a few, he decided to set up an organisation of his own. He knew adventure sport was going to be the key focus of the organisation but deciding upon mountain biking being flagship program happened to be a chance meeting with a wandering mountain biker from England.</p>
                         <p>Gradually, the team began mastering their knowledge about the sport and eventually rolled out the first edition of the race on 6th October 2005 from Shimla to Manali. The race was initially supported by Himachal Tourism which was keen on developing the state for it’s tourism potential. It’s been 12 years since then and organisation has left no stones unturned to extend a helping hand of support to the organisers.
                             <br>
                        The race was won by Hungarian International Norbert Szenthinlosi in open men solo category.</p>
                         <p>Over the years MTB Himalaya established itself as a primer cross-country endurance event and has drawn big names from the International cycling fraternity. 11th edition (2015) witnessed anew participation from world champions like Luis Leao Pinto, Andi Seewald and Catherine Williamson among a few riders. More and more professional and ranked riders including former Tour De France and numerous UCI ranked athletes have shown interest and returning participation over the years.</p>
                         <p>Established teams from Rocky Mountain, Kona Bikes, Airforce and Indian defence establishments participate religiously each year. Riders are often quoted touting the race to be “<i>the most difficult stretch”</i> they have ever peddled.</p>
                         <p>With a great terrain and astounding vistas in Himachal, the race making the best of rusty, dirt trails tags along technical section and has positioned Himachal Pradesh as a global destination for the sport during the past decade.</p>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!--End of Blog Area-->


 <!--Team Area Start-->
 <div class="team-area section-padding hidden-xs" style="display:none">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="section-title text-center">
                     <div class="title-border">
                         <h1>The Hero Action <span>Team</span></h1>
                     </div>
                     <p>The race was supported by Hero Cycles in 2013 and has put forward it’s unparalleled support to promote the sport in the country. The organisation identified lack of professional management/training of mountain bikers in the country. This led to the launch of India’s first ever professional MTB team- Hero Action Team in 2014. HASTPA enabled the technical support required to these riders and is now a <b><i>7 </i></b>membered team.</p>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-3 col-sm-6" *ngFor="let member of hero_team">
                 <div class="single-member">
                     <div class="team-image">
                         <a><img src="assets/img/hero_action_team/{{member.image}}" alt="{{member.name}}"></a>
                         <div class="member-text effect-bottom">
                             <h4><a>{{member.name}} | <span>Hiking Guide</span></a></h4>
                             <p>{{member.description}}</p>
                             <div class="member-link">
                                 <a target="_blank" href="http://www.facebook.com/{{member.fb}}" title="Facebook Profile of {{member.name}}"><i class="fa fa-facebook"></i></a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!--End of Team Area-->
