<div class="portfolio-area" style="margin-bottom: -110px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center section-padding">
                    <div class="title-border">
                        <h1>Adventure <span>unleashed</span></h1>
                    </div>
                    <p>
                        <b>Starting on September 28<sup>th</sup>, 2017</b><br><br>
                        The best of competitions isn’t about winning the race, but winning it against yourself. It’s about doing better than your best, pushing yourself to your extremes, overcoming your own fears to be the best you can be, today. Tomorrow will be a new story. A new best. A new you. The Himalayas are calling. Test yourself against the best and challenge your own limits at Asia’s premier mountain bike race – Hero MTB Himalaya!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
