<!--Banner Area Start-->
<div class="banner-area-pic2go list hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title title-three text-center">
                    <div class="title-border" style="padding-bottom:30px">
                        <h1 style="color:#00c0ff">Feel free while you <span>Stay Updated!</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="breadcrumb three">
                    <li><a>Home</a></li>
                    <li>{{breadcrum}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="hidden-md hidden-lg">
  <div class="row mobile-breadcrum-container">
      <div class="col-md-12 mobile-breadcrum-row">
          <ul class="mobile-breadcrum">
              <li><a href="index.html">Home</a></li>
              <li>{{breadcrum}}</li>
          </ul>
      </div>
  </div>
</div>

<div class="contact-information-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center" >
                    <div class="title-border">
                        <h1>About Pic2Go <span>Facebook Integrator</span></h1>
                    </div>
                    <p>
                      Pic2Go automates posting of free (branded) race photos to participants’ Facebook -
                      <br>
                      maximizing social engagement and reach for your sponsors.
                    </p>
                    <img class="details_of_pic2go" src="assets/img/details/pic2go.png" alt="pic2go">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-information-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center" >
                    <div class="title-border">
                        <h1>Register <span>via Facebook</span></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <p style="font-size:24px; margin-top:20px">
                  <b>2 SIMPLE STEPS TO FOLLOW</b>
              </p>
              <ul style="padding-left:10px">
                <li style="font-size:16px;"><b>Step 1:</b> Enter your BIB no, in the below widget and continue to Facebook.</li>
                <li style="font-size:16px;"><b>Step 2:</b> Follow on screen instructions.</li>
              </ul>
              <p style="margin-top:30px">*In case of any issue during registration, please contact : <a href="tel:9073323377">9073323377</a> or email at: <a href="mailto:nagendra@pic2go.in">nagendra@pic2go.in</a></p>
            </div>
            <div class="col-md-6">
              <iframe src="//goo.gl/wkXJRm" height="255" width="100%" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="col-md-12" style="font-size:24px; margin-top:20px">
              <p>Follow these spets to set up your facebook. </p>
            </div>
            <div class="col-md-3">
              <p class="pic2go_text">Step 1 </p>
              <img class="pic2go_img" src="assets/img/details/pic2go/step1.jpg" alt="">
            </div>
            <div class="col-md-3">
              <p class="pic2go_text">Step 2</p>
              <img class="pic2go_img" src="assets/img/details/pic2go/step2.jpg" alt="">

            </div>
            <div class="col-md-3">
              <p class="pic2go_text">Step 3</p>
              <img class="pic2go_img" src="assets/img/details/pic2go/step3.jpg" alt="">

            </div>
            <div class="col-md-3">
              <p class="pic2go_text">Step 4</p>
              <img class="pic2go_img" src="assets/img/details/pic2go/step4.jpg" alt="">

            </div>

        </div>

    </div>
</div>
<!--Newsletter Area Start-->
