<!--Portfolio Area Start-->
<div class="portfolio-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <div class="title-border">
                        <h1>Escape into the<span>Himalayas</span></h1>
                    </div>
                    <p>This race is not any contest to ride over the mountains, survive and be called a winner. There is a lot more to it- You  experience the true wilderness of the Himalayas, Indian hospitality and above all- extreme adventure!
                    <br>
                    You will make memories, fall in love with these mountains and will want to conquer them again! It's not just another race in the mountains!</p>
                </div>
            </div>
        </div>
        <div class="row small_gallery">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="single-portfolio">
                    <a><img src="assets/img/portfolio/1_Harsh.jpg" alt="MTB Himalaya | Gallery Image"></a>
                    <div class="portfolio-text effect-bottom">
                        <h4><a>Harsh</a></h4>
                        <p> </p>
                    </div>
                </div>
                <div class="single-portfolio">
                    <a><img src="assets/img/portfolio/2_Integrity.jpg" alt="MTB Himalaya | Gallery Image"></a>
                    <div class="portfolio-text effect-bottom">
                        <h4><a>Integrity</a></h4>
                        <p> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="single-portfolio">
                    <a><img src="assets/img/portfolio/3_Magical.jpg" alt="MTB Himalaya | Gallery Image"></a>
                    <div class="portfolio-text">
                        <h4><a>Magical</a></h4>
                        <p> </p>
                    </div>
                </div>
                <div class="single-portfolio">
                    <a><img src="assets/img/portfolio/4_Adventure.jpg" alt="MTB Himalaya | Gallery Image"></a>
                    <div class="portfolio-text">
                        <h4><a>Adventure</a></h4>
                        <p> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="single-portfolio">
                    <a><img src="assets/img/portfolio/7_Yourself.jpg" alt="MTB Himalaya | Gallery Image"></a>
                    <div class="portfolio-text effect-bottom">
                        <h4><a>Yourself</a></h4>
                        <p> </p>
                    </div>
                </div>
                <div class="single-portfolio">
                    <a><img src="assets/img/portfolio/6_Affection.jpg" alt="MTB Himalaya | Gallery Image"></a>
                    <div class="portfolio-text effect-bottom">
                        <h4><a>Affection</a></h4>
                        <p> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-sm">
                <div class="single-portfolio">
                    <a><img src="assets/img/portfolio/5_Love.jpg" alt="MTB Himalaya | Gallery Image"></a>
                    <div class="portfolio-text">
                        <h4><a>Love</a></h4>
                        <p> </p>
                    </div>
                </div>
                <div class="single-portfolio">
                    <a><img src="assets/img/portfolio/8.jpg" alt="MTB Himalaya | Gallery Image"></a>
                    <div class="portfolio-text">
                        <h4><a>Achieve</a></h4>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Portfolio Area-->
