<!--Banner Area Start-->
<div class="banner-area-rider-reg list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title title-three text-center">
                    <div class="title-border" style="padding-bottom:30px">
                        <h1 style="color:#00c0ff">Register for <span>13th Hero MTB Himalaya 2017</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="breadcrumb three">
                    <li><a href="index.html">Home</a></li>
                    <li>Registration</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End of Banner Area-->

<div class="section-title text-center">
    <div class="title-border">
        <h1>Rider <span>Registrations</span></h1>
    </div>
    <p>
        Mr. Ashish Sood is online to register you.
    </p>
</div>

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-8 col-lg-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> MTB Registration
                </div>
                <div class="panel-body body-panel">
                    <ul class="chat">
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                            <img src="assets/img/icon/ashish.jpg" width="50px"alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Ashish Sood</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>few moments ago</small>
                                </div>
                                <p>
                                    <b>Welcome, to 13th Hero MTB Himalaya 2017.</b> <br>
                                    What is your good name?
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix" id="box_1" style="display:none">
                            <span class="chat-img pull-right">
                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>few moments ago</small>
                                    <strong class="pull-right primary-font">{{applicant}}</strong>
                                </div>
                                <p>
                                    Hey Ashish, this is {{applicant}}. Please register me for the <b>13th Edition</b>.
                                </p>
                            </div>
                        </li>

                        <li class="left clearfix" id="box_2" style="display:none">
                            <span class="chat-img pull-left"onloadeddata="">
                                <img src="assets/img/icon/ashish.jpg" width="50px" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Ashish Sood</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>few moments ago</small>
                                </div>
                                <p>
                                    Sure, please tell me your email ID.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix" id="box_3" style="display:none">
                            <span class="chat-img pull-right">
                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>Few moments ago</small>
                                    <strong class="pull-right primary-font">{{applicant}}</strong>
                                </div>
                                <p>
                                    My email ID is {{email}}.
                                </p>
                            </div>
                        </li>

                        <li class="left clearfix" id="box_4" style="display:none">
                            <span class="chat-img pull-left"onloadeddata="">
                                <img src="assets/img/icon/ashish.jpg" width="50px" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Ashish Sood</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>few moments ago</small>
                                </div>
                                <p>
                                    Thank you, let me register you for the event!
                                    <br>
                                    <i>Please wait...</i>

                                </p>
                            </div>
                        </li>
                        <li class="left clearfix" id="box_4_found" style="display:none">
                            <span class="chat-img pull-left"onloadeddata="">
                                <img src="assets/img/icon/ashish.jpg" width="50px" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Ashish Sood</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>few moments ago</small>
                                </div>
                                <p>
                                    I found your details.
                                    <br>
                                    <i>Please choose your Category.</i>
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix" id="box_4_notfound" style="display:none">
                            <span class="chat-img pull-left" onloadeddata="">
                                <img src="assets/img/icon/ashish.jpg" width="50px" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Ashish Sood</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>few moments ago</small>
                                </div>
                                <p>
                                    <i>Please choose your Category.</i>
                                </p>
                            </div>
                        </li>

                        <li class="right clearfix" id="box_5" style="display:none">
                            <span class="chat-img pull-right">
                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>Few moments ago</small>
                                    <strong class="pull-right primary-font">{{applicant}}</strong>
                                </div>
                                <p>
                                    Ashish, register me for <b>{{categorie}}</b>
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix" id="box_5_reply" style="display:none">
                            <span class="chat-img pull-left"onloadeddata="">
                                <img src="assets/img/icon/ashish.jpg" width="50px" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Ashish Sood</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>few moments ago</small>
                                </div>
                                <p id="backend_reply">
                                </p>
                                <br>
                                <p><b>Note:</b> <i>Your registration and payment shall be linked with {{email}} .</i>
                            </div>
                        </li>

                        <li class="left clearfix" id="box_6_details" style="display:none">
                            <span class="chat-img pull-left"onloadeddata="">
                                <img src="assets/img/icon/ashish.jpg" width="50px" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Ashish Sood</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>few moments ago</small>
                                </div>
                                <p>You are a few steps away from confirming your adventure getaway this September!<br><br>
                                    1) Click on <b>proceed</b> to complete your profile. <i><b>Note:</b> Filling this will help you on the day of physical registration.</i><br>

                                    2) <a id="fee_scroll_initiate"><b>Click here,</b></a> to know about race fee.<br>

                                    3) Pre-booking open for Physiotherapy <i>(limited number)</i> - 235$ at 13th Hero MTB Himalaya.
                                    <a target="_blank" href="http://www.mtbhimalaya.com/physiotherapy">Click here</a> for more details

                                    <div id="international_rider" style="display:none">
                                        4) International Rider Advisory has been downloaded. <a download="InternationalRiderAdvisory.pdf" href="assets/documents/InternationalRiderAdvisory.pdf" title="International Rider Advisory">Click here if Advisory is not yet downloaded.</a><br>
                                    </div>

                                    <br>
                                    <b>Please carry the following documents on the registration day i.e.: 28th September 2017 to ease your registration process.</b><br>

                                    1. ID Proof (Original Copy)<br>
                                    2. Insurance<br>
                                    3. Medical Certificate<br>
                                    4. Payment proof<br><br>

                                    Kindly check back your email for registration details and a confirmation.<br>
                                <p>
                            </div>
                        </li>

                        <li id="box_typing" style="display:none">
                            <div class="chat-body clearfix">
                                <p style=""><b>Ashish is typing...</b><br> <img src="assets\img\typing.gif" width="30px" alt=""> </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer clearfix">
                    <div id="inp-fields" style="height:34px">
                        <select class="form-control" id="sel-chat" style="display:none">
                          <option value="">Select your riding category</option>
                          <option value="Solo National Rider">Solo National Rider</option>
                          <option value="International/Sponsored Rider">International/Sponsored Rider</option>
                          <option value="National Team of Two">National Team of Two</option>
                          <option value="International/Sponsored Team of Two">International/Sponsored Team of Two</option>
                          <option value="Supporter">Supporter/ Tripper</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Enter your name" id="inp-chat">
                    </div>
                    <span class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 10px">
                        <button class="btn btn-warning btn-lg btn-block" id="btn-chat">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Newsletter Area Start-->
 <div class="welcome-himalaya">
     <div class="container">
         <div class="row">
             <div class="col-md-12 col-sm-12">
                 <div class="section-title text-center">
                     <div class="title-border">
                         <h1 class="text-white">Other <span>Registration Options and Discounts</span></h1>
                     </div>
                     <p class="text-white">Offline registration form can be downloaded by clicking the button below. Participants are required to send the filled registration form to us.
                    <br>
                     Payments can be made through both online & offline mode.</p>
                     <a download="RegistrationForm.pdf" href="assets/documents/RegistrationForm.pdf" title="MTBH 17 RegistrationForm"><button type="button" class="btn btn-info" style="padding-top :5px"><b>Click to download the registration form</b></button></a>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!--End of Newsletter Area-->


<!--Blog Area Start-->
<div class="blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="blog-carousel">
                <div class="container col-md-6 col-sm-12">
                  <h2>Other Payment Options</h2>
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#menu1">WIRED TRANSFER</a></li>
                    <li><a data-toggle="tab" href="#menu2">MAILED CHEQUE/DD</a></li>
                    <li><a data-toggle="tab" href="#menu3">DROPPED CHEQUE/DD</a></li>
                  </ul>

                  <div class="tab-content">
                    <div id="menu1" class="tab-pane fade in active">
                      <h3>WIRED TRANSFER</h3>
                        <p>
                            One can wire transfer the fees to our bank account. Your entry will be confirmed only at the receipt of the entry fees and completed entry form. Our bank account details are:<br><br>
                            Bank Name : HDFC Bank<br>
                            Address : The Mall, Shimla<br>
                            Account No : 05241000010205<br>
                            Account name : Himalayan Adventure Sports & Tourism Promotion Association<br>
                            IFSC Code / RTGS : HDFC0000524<br>
                        </p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                      <h3>MAILED CHEQUE/DD</h3>
                      <p>
                            One can pay through demand draft or cheque mailed along with the form in favour of Himalayan Adventure Sports & Tourism Promotion Association, payable at Shimla at the below mentioned address:<br>
                            HASTPA<br>
                            A-5, Commercial Complex, MC Parking<br>
                            Near Lift, Cart Road, Shimla<br>
                            Himachal Pradesh , INDIA<br>
                            171 001
                      </p>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                      <h3>DROPPED CHEQUE/DD AT HDFC BANK</h3>
                      <p>
                          you can drop the Cheque/DD at any branch of HDFC bank across the country filling in the following details :<br><br>
                          Bank Name : HDFC Bank<br>
                          Address : The Mall, Shimla<br>
                          Account No : 05241000010205<br>
                          Account name : Himalayan Adventure Sports & Tourism Promotion Association<br>
                          and send us the details of your deposit.
                      </p>
                    </div>
                  </div>

                </div>
                <div class="container col-md-6 col-sm-12">
                    <h2>Discounts</h2>

                    <em>+ There is a 20% discount for students and bonafide Himachal Pradesh residents.</em><br><br>
                    <em>+ Please note that supporters for riders will also follow the same fee structure.</em><br><br>
                    <em>+ The organizers reserve the right to award waiver of any kind on the registration fees to anyone.</em><br><br>
                    <em>+ Only Individual Solo riders and Teams of two (2) participants qualify for participation.</em><br><br>
                    <em>+ This pricing is applicable for all the registration & confirmation on or before 5 PM IST ,10th September,2017 .</em><br><br>
                    <em>+ 10% discount to past MTB Himalaya riders.</em>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="container col-md-12 col-sm-12">
            <b>Note:</b> Payments can also be made via PayPal<br>
            <b style="padding:left:12px">PayPal ID</b>: <i>mtbhimachal@hastpa.org</i>
          </div>
        </div>
    </div>
</div>
<!--End of Blog Area-->

<!--Team Area Start-->
<div class="team-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <div class="title-border">
                        <h1>Registration<span> Fee</span></h1>
                    </div>
                    <p>
                        Irrespective of which category the rider is entering the fees are given below.<br> The USD conversion remains at an average 63 INR.
                    </p>
                </div>
            </div>
        </div>
        <div class="row"  id="fee_scroll">
            <table style="height: 100%;" width="100%">
            <tbody>
            <tr>
                <td width="40%"><h3><strong>Category</strong></h3></td>
                <td width="35%"><h3><strong>Twin Sharing Tent Package</strong></h3></td>
                <td width="25$"><h3><strong>Single Tent Package</strong></h3></td>
            </tr>
            <tr>
                <td style="font-size:20px">Solo National Rider</td>
                <td style="font-size:18px">INR 29,499</td>
                <td style="font-size:18px">INR 32,499</td>
            </tr>
            <tr>
                <td style="font-size:20px">International/Sponsored Rider</td>
                <td style="font-size:18px">USD 949</td>
                <td style="font-size:18px">USD 1049</td>
            </tr>
            <tr>
                <td style="font-size:20px">National Team of Two</td>
                <td style="font-size:18px">INR 54999</td>
                <td style="font-size:18px">INR 60999</td>
            </tr>
            <tr>
                <td style="font-size:20px">International/Sponsored Team of Two</td>
                <td style="font-size:18px">USD 1799</td>
                <td style="font-size:18px">USD 1899</td>
            </tr>
            </tbody>
            </table>

            <a href="https://www.townscript.com/e/13th-hero-mtb-himalaya-2017-333434" target="_blank"><button type="button" style="width:100%" class="btn-md btn btn-success">Click to Pay Race Fee (via Townscript)</button></a>
        </div>
    </div>
</div>
<!--End of Team Area-->
