<!--About Area Start-->
<div class="about-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-10 col-sm-offset-2">
                <div class="about-container section-padding ">
                    <div class="section-title">
                        <div class="title-border">
                            <h1>Race <span>Details</span></h1>
                        </div>
                    </div>
                    <div class="about-text">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align:center" width="40%">Race Attribute</th>
                                        <th style="text-align:center">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Start Place</td> <td>Shimla Himachal Pradesh</td>
                                    </tr>
                                    <tr>
                                        <td>End Place</td> <td>Dharamshala</td>
                                    </tr>
                                    <tr>
                                        <td>Race Type</td> <td>Cross country multi-stage MTB Endurance race</td>
                                    </tr>
                                    <tr>
                                        <td>Total days</td> <td>9</td>
                                    </tr>
                                    <tr>
                                        <td>Number of slots</td> <td>80</td>
                                    </tr>
                                    <tr>
                                        <td>Race Categories	</td> <td>Open Men Solo, Open Women Solo, Team of Two, Open Masters Solo, Open Grand Master Solo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of About Area-->
