<!--Banner Area Start-->
        <div class="banner-area-rider-reg list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title title-three text-center">
                            <div class="title-border" style="padding-bottom:30px">
                                <h1 style="color:#00c0ff">Volunteer <span>Registrations</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="breadcrumb three">
                            <li><a href="index.html">Home</a></li>
                            <li>Volunteer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!--End of Banner Area-->

<!--Service Area Start-->
<div class="service-area text-center" style="margin-top:15px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <div class="title-border">
                        <h1>Welcome to <span> the Volunteer Program</span></h1>
                    </div>
                    <p>
                        <b>Work behind the scenes of Asia’s oldest mountain bike race- 13th Hero MTB Himalaya 2017!</b>
                        <br><br>
                        The dynamics of a live mountain biking stage race require super talented individuals who can fit in multiple roles. Logistical challenges are a big task to handle when it comes to management. This calls for people who can flex themselves on short timelines, little sleep, untimed meals, lots of travel and huge learning opportunities!
                        <br>
                        Two weeks spent working with our teams round the clock (no kidding about this part) and travelling from Erstwhile British Captial- <b>Shimla</b> to Little Lhasa- <b>Dharamshala</b> will probably be the most stressful and yet amazingly wonderful events you shall cherish in years to come!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--End of Service Area-->

<div class="container" id="boxup">
  <h2>Finesse Opportunities open this season</h2>
  <p></p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Social Media and Communication</a></li>
    <li><a data-toggle="tab" href="#menu1">Print and Digital media management</a></li>
    <li><a data-toggle="tab" href="#menu2">Photographers</a></li>
    <li><a data-toggle="tab" href="#menu3">Videographers and Editors</a></li>

    <li><a data-toggle="tab" href="#menu4">Web Development and SEO</a></li>
    <li><a data-toggle="tab" href="#menu5">Physiotherapy</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h4>Social Media and Communication</h4>
      <p>
        One of the most important jobs at the race- The guys who control what the world sees. Get an opportunity to feed the eyeballs of >1million audiences, Churn quirky and crisp captions within unrealistic timelines, Interact with the participants and sponsors at the race.
        <br><br>
        If slow internet, power banks and constant system crashes do not creep you out, you are the best fit for this job!
        <br><br>
        <b>Key traits-</b> Splendid communication skills, ornate writing ability and willingness to work long hours.
      </p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h4>Print and Digital media management</h4>
      <p>
        Are you good at managing people? Do you have a journalism degree? Do newsroom stories excite you? Can you build contacts?
        <br><br>
        We are looking for people who can manage writers, journalists and reporters. If you have any experience in media and it's management- this is for you.
        </p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h4>Photographers</h4>
      <p>
        Don't expect a comfortable ride, a complete meal and a sharp hairstyle with this profile.
        You are going to be the one constantly on the move and the first ones to cover and experience all the action - <i>LIVE!</i>
        <br><br>
        It will be through your lens the world will be seeing the event. Get an opportunity to work along some of the best professionals in the field and experience the best MTB adventure.
      </p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h4>Videographers + Editors (Incentives and long term opportunities attached)</h4>
      <p>
        Offering you a very exclusive opportunity to work on appealing visual content. Adventure sport videos are the next big thing on the block, taking away social media by a storm.
        <br><br>
        You are going to be a part of a very special team that covers the action behind Hero MTB Himalaya.
        We are looking for people who can shoot and edit to churn out engaging videos that catch attention.
        Special incentives and opportunity to work long term available based on performance.
        Applicants must carry their own device for editing.
      </p>
    </div>
    <div id="menu4" class="tab-pane fade">
      <h4>Web Development and SEO</h4>
      <p>

      </p>
    </div>
    <div id="menu5" class="tab-pane fade">
      <h4>Physiotherapy</h4>
      <p>
          Learning opportunities at an international sports fiesta can be exponential for an individual. We are looking for people to assist professional Physiotherapy teams from UK and South Africa.
      </p>
  </div>

  </div>
</div>

<div class="container" id="boxup">
  <h2>Operations Management</h2>
  <p></p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home2">Bike Marshall/ Patrol</a></li>
    <li><a data-toggle="tab" href="#menu12">Camp operations</a></li>
    <li><a data-toggle="tab" href="#menu22">Logistics and Venue management</a></li>
    <li><a data-toggle="tab" href="#menu32">School Programs</a></li>
  </ul>

  <div class="tab-content">
    <div id="home2" class="tab-pane fade in active">
      <h4>Bike Marshall/ Patrol</h4>
      <p>

      </p>
    </div>
    <div id="menu12" class="tab-pane fade">
      <h4>Camp operations</h4>
      <p>
          Be the heart of camping experience for riders! Interact to make their experience the most memorable one!
          <br><br>
  We are looking for strong communication skills and prior hospitality experience. Knowledge of foreign language is a plus!

    </p>
    </div>
    <div id="menu22" class="tab-pane fade">
      <h4>Logistics and Venue Management</h4>
      <p>
          Hotels, Travel and Itineraries can be very frustrating. Managing them for more than 100 people can be even more.
          <br><br>
          Individuals with prior management experience are welcome to apply. Shimla/Dharamshala residents preferred.
      </p>
    </div>
    <div id="menu32" class="tab-pane fade">
      <h4>School Programs</h4>
      <p>
          An opportunity to participate in community building and giving back to the society alongside extreme adventure action. Get an opportunity to travel into remote Himalayan villages and interact with school kids to educate them for a better living. Strong communication skills required. Experience in NGOs and Teaching preferred.
      </p>
    </div>
  </div>
</div>


<!--Newsletter Area Start-->
 <div class="behind-the-game">
     <div class="container">
         <div class="row">
             <div class="col-md-12 col-sm-12">
                 <div class="section-title text-center">
                     <div class="title-border">
                         <h1 class="text-white">Registration <span>Form</span></h1>
                     </div>
                     <p class="text-white">
                         We are looking for young and enthusiastic individuals who can jump out of their comfort zone and multitask between jobs.
                        <br>
                        <br>
                         Your takeaway shall be a big family, some contacts you would encase in future and an experience of a lifetime, working behind the scenes for Asia’s oldest mountain biking stage race.
                     </p>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!--End of Newsletter Area-->


 <!--Blog Area Start-->
 <div class="blog-area section-padding">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="section-title text-center">
                     <div class="title-border">
                         <h1>Eligibility <span> Criteria</span></h1>
                     </div>
                         <p>
                         In-order to be eligible for applying to our Volunteer program
                        </p>
                 </div>
             </div>
         </div>
     </div>
     <div class="container" style="padding-bottom:20px">
         <div class="row">
             <div class="col-md-12" style="text-align:left;">
                 <div class="col-md-4">
                     <b style="font-size:16px">Eligibility Criteria:</b>
                     <ol style="padding-top:10px; padding-left:17px">
                         <li>You must be between 18-28 years of age with no medical condition.</li>
                         <li>You must also be able to stay for the duration of your assigned schedule.</li>
                         <li>We are looking for candidates with good communication skills, (knowledge of a third language is a plus)</li>
                         <li>You must be an adventure seeker with unconditional love for nature.</li>
                     </ol>
                 </div>
                 <div class="col-md-4">
                    <b style="font-size:16px">Your entitlements would be:</b>
                    <ol style="padding-top:10px; padding-left:17px">
                        <li>Proper accommodation on campsites</li>
                        <li>Transportation between stages</li>
                        <li>Transportation of luggage between stages</li>
                        <li>All meals on race days</li>
                        <li>Exclusive Volunteer race merchandise</li>
                        <li>Letter of appreciation and race memorabilia</li>
                    </ol>
                 </div>
                 <div class="col-md-4">
                     <b style="font-size:16px;">Things not included:</b>
                     <ol style="padding-top:10px; padding-left:17px">
                         <li>Travel to Shimla and from Dharamshala</li>
                         <li>Any additional expenses incurred during your stay</li>
                     </ol>
                 </div>
                 <div class="col-md-12">
                     <b style="font-size:16px">Note:</b> For further questions, you can email:
                        Kshitiz Gupta, Chief Volunteer Monk on <i>kshitiz.gupta@hastpa.org</i>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!--End of Blog Area-->

 <!--Service Area Start-->
 <div class="service-area text-center" style="margin-top:15px">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="section-title text-center">
                     <div class="title-border">
                         <h1>Apply only if you are available from <span>27th Sept to 7th Oct</span></h1>
                     </div>
                     <div>
                        <form name="volunteer" method="POST">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label>Full Name*</label>
                                        <input type="text" name="full_name" id="full_name" placeholder="Enter your full name" class="form-control" required>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Email*</label>
                                        <input type="email" name="email" id="email" placeholder="Enter your email address" class="form-control" required>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label>City*</label>
                                        <input type="text" name="city" id="city" placeholder="" class="form-control" required>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label>State*</label>
                                        <input type="text" name="state" id="state" placeholder="" class="form-control" required>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label>Country*</label>
                                        <input type="text" name="country" id="country" placeholder="" class="form-control" required>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Contact Number*</label>
                                        <input type="text" name="contact" id="contact" maxlength="16" placeholder="" class="form-control" required>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>WhatsApp Number</label>
                                        <input type="text" name="WhatsApp" id="WhatsApp" maxlength="16" placeholder="" class="form-control" required>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label>Resume link</label>
                                        <input type="text" name="resume" id="resume" placeholder="Link [PDF on GDrive/Dropbox]" class="form-control">
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Age*</label>
                                        <input type="text" name="age" id="age"maxlength="2" placeholder="" class="form-control" required>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Is any of your friend applying?</label>
                                        <input type="text" name="friend" id="friend" placeholder="If yes, write the name" class="form-control" required>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label>Choose your interest?</label>
                                        <select class="form-control" name="task" id="task" required>
                                            <option value="">Select your interest</option>
                                            <option value="Social Media and Communication" selected>Social Media and Communication
                                            </option>
                                            <option value="Print and Digital Media Management">Print and Digital Media Management</option>
                                            <option value="Photographers">Photographers</option>
                                            <option value="Videographers + Editors">Videographers + Editors</option>
                                            <option value="Web Development and SEO">Web Development and SEO</option>
                                            <option value="Physiotherapy">Physiotherapy</option>
                                            <option value="Bike Marshall/ Patrol">Bike Marshall/ Patrol</option>
                                            <option value="Camp operations">Camp operations</option>
                                            <option value="Logistics and Venue Management">Logistics and Venue Management</option>
                                            <option value="School Programs">School Programs</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label>Which field of operation are you applying and how can you be an asset to our race?*</label>
                                        <textarea placeholder="Please re-read the task description before attempting this question" id="operation_reason" rows="3" name="operation_reason" class="form-control" style="resize: none;" required></textarea>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label>Do you have any experience in Event management or cycling?*</label>
                                        <textarea placeholder="Sorry but tricycle doesn't count" rows="3" id="experiance" name="experiance" class="form-control" style="resize: none;" required></textarea>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label>Where do you draw your inspiration from?*</label>
                                        <input type="text" name="inspiration" id="" placeholder="inspiration" class="form-control" required>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label>How did you get to know about our race and why do you want to be a part of it?*</label>
                                        <textarea placeholder="" rows="3" id="why" name="why" style="resize: none;" class="form-control" required></textarea>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label>Any other information we should know about you</label>
                                        <textarea placeholder="" rows="3" id="otherinfo" name="otherinfo" style="resize: none;" class="form-control"></textarea>
                                    </div>


                                    <input type="submit" class="btn btn-success" id="sub_volunteer" style="width:100%">
                                </div>
                            </div>
                        </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>
<div class="service-area text-center" style="margin-top:15px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <div class="title-border">
                        <h1>Testimonials<span></span></h1>
                    </div>
                    <div>
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                    <!-- Carousel Slides / Quotes -->
                                    <div class="carousel-inner text-center">
                                        <!-- Quote 1 -->
                                        <div class="item active">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2">
                                                        <p>It was in May that I got the opportunity to be a part of  Hero MTB Shimla 2017, and to say that every bit of this experience was absolute fun is probably an understatement. I was working with the media team which was responsible for ensuring the race's presence on all relevant platforms- we worked on press reports, stories, social media updates, etc. <br>
                                                          I feel that the most terrific part of working with HASTPA is that one gets to interact with humans from all over the world and learn plenty about numerous cultures and perspectives. All in all, the mountains are beautiful, the people are accommodating and the experience is beyond adventurous. If you're looking for something that makes you love what you do, this would be one of the best events to volunteer for. I'd happily recommend it to anyone! </p>
                                                        <small>Poorva Gupta</small>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!-- Quote 2 -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2">
                                                        <p>MTB Himalaya is one among my those favourite events, which help you experience the perfect amount of thrill and adventure, make you learn a lot of new things and help you grow to a whole new level. A little spark, a lot more enthusiasm and hard work with Himalayan delicacies is what it takes to reach the other end.
                                                        Also, a golden chance to explore the raw Himachal and break the monotonous college schedule is always a plus one.</p>
                                                        <small>Pankhuri Aggarwal</small>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!-- Quote 3 -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2">
                                                        <p>I've been a rider and a volunteer. Love every moment of the rally, it may be helping, marking, marshalling or rescue. Everything gives a unforgettable memory and the best experience.</p>
                                                        <small>Prabjot</small>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <!-- Bottom Carousel Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="assets/img/volunteer/poorva.jpg" alt="">
                                        </li>
                                        <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="assets/img/volunteer/pankhuri.jpg" alt="">
                                        </li>
                                        <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="assets/img/volunteer/prabjot.jpg" alt="">
                                        </li>
                                    </ol>

                                    <!-- Carousel Buttons Next/Prev -->
                                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
               </div>
           </div>
       </div>
   </div>
</div>
