<!--Banner Area Start-->
        <div class="banner-area-rules list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title title-three text-center">
                            <div class="title-border" style="padding-bottom:30px">
                                <h1 style="color:#00c0ff">Rules and <span>Regulations</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="breadcrumb three">
                            <li><a href="index.html">Home</a></li>
                            <li>Rules</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Banner Area-->

<div class="container">

    <<div class="service-area text-center" style="margin-top:15px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <div class="title-border">
                            <h1>Rules and <span> Regulations</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>1 PREAMBLE</h3>

        HERO MTB HIMALAYA 2017 (‘the race’) is an individual mountain bike stage race, approx. 650 km in length, affiliated to the IMBA (International Mountain Biking Association).
    </div>

    <div>
        <h3>2 STRUCTURE AND APPLICABILITY OF THE RULES</h3>
        <ul>
            <li><b>2.1</b> The rules of the race (‘the rules’) are explained herewith which are applicable to all riders (set out in section B below).</li>

            <li><b>2.2</b> The rules set out below are intended to be definitive and complete.</li>

            <li><b>2.3</b> A failure to comply with any of the rules will result in a penalty, which could include a rider's disqualification in certain circumstances. The various categories of penalties are set out in sections below.</li>
        </ul>
    </div>

    <div>
        <h3>3 DEFINITIONS</h3>
        <h4>For purposes of the rules, the following terms shall have the meaning set out below:</h4>
        <ul>
            <li><b>3.1</b> <span>BLUE BOARD RIDER</span> — A Rider who have failed to complete any stage within the maximum permitted stage time, but are allowed to continue the race in terms of rule 15.</li>

            <li><b>3.2</b> <span>MAXIMUM STAGE TIME</span> — The maximum number of hours/timings allowed to officially complete any stage as determined by the race organisers from time to time.</li>

            <li><b>3.3</b> <span>PODIUM CONTENDER</span> — An individual rider or a rider in a team which,at the beginning of any stage, is in the top 5 positions in the relevant category or whose total time is not more than one hour from the total time of the 3rd placed rider in the relevant category at the beginning of such stage.</li>
        </ul>
    </div>

    <div>
        <h3>4 RIDERS</h3>
        <ul>
            <li><b>4.1</b> The minimum age for participation is 18 years on September 28<sup>th</sup>, 2017.</li>

            <li><b>4.2</b> There are 5 riding categories: Men Solo, Women Solo, Masters, Grand Masters, & Team of 2.</li>

            <li><b>4.3</b> To start in the Master's category a rider must be between 40-50 years on September 28<sup>th</sup>, 2017.</li>

            <li><b>4.4</b> To start in the Grand Masters category a rider must be 51 years or older on September 28<sup>th</sup>, 2017.</li>
        </ul>
    </div>

    <div>
        <h3>5 MEDICAL</h3>

        <ul>
            <li><b>5.1</b> Riders must ensure that they are in good health and well trained. Provide a fitness certificate by a recognised physician/doctor.</li>

            <li><b>5.2</b> The race organisers reserve the right to prevent a rider from continuing the race on receipt of medical advice from an official race medic or any other medical doctor recognised by the race organisers. The decision of the race organisers in this regard shall be final.</li>
        </ul>
    </div>

    <div>
        <h3>6 BICYCLES</h3>
        <ul>
            <li><b>6.1</b> Only mountain bikes in good working order and 'race ready' at the start of each stage will be allowed to start that stage.</li>

            <li><b>6.2</b> For purposes of rule 6.1, ‘race ready’ means the following:
                <ul>
                    <li><b>A.</b> The front number board is securely fitted and visible from the front.</li>

                    <li><b>B.</b> The frame marking is displayed as per instructions received at registration.</li>

                    <li><b>C.</b> The bike is in safe working order, as determined in the discretion of the race director.</li>

                    <li><b>D.</b> Handlebar ends and handlebar extensions shall be plugged and must not have sharp or jagged edges.</li>

                    <li><b>E.</b> Each rider is responsible for the maintenance of his/her own bike for the duration of the race.</li>

                    <li><b>F.</b> In all cases of maintenance and repair, riders are required to complete the full distance of the stage and must complete the stage within the maximum permitted stage time. Time spent on maintenance and repair will thus not entitle a rider to any extension of the maximum stage time.</li>

                    <li><b>G.</b> Event sticker is compulsory on bikes.</li>

                </ul>
            </li>

        </ul>
    </div>

    <div>
        <h3>7 HELMETS AND CLOTHING</h3>
        <ul>
            <li><b>7.1</b> Each rider must wear a helmet at all times while riding during the race.</li>

            <li><b>7.2</b> All helmets must comply with international standards.</li>

            <li><b>7.3</b> Appropriate riding attire must be worn at all times and the race jersey at the start and finish.</li>

            <li><b>7.4</b> Both team members must ride in identical cycling jerseys at all times.</li>

            <li><b>7.5</b> Wearing of branded cycling jerseys other than the Jerseys provided by the organisers is only allowed to sponsored rider Category entries. All  other riders will have to wear cycling jerseys provided by the organisers. Infringement of this rule may lead to 30-minute penalties or even disqualification from the race.</li>
            Read more about <a href="http://www.mtbhimalaya.com/luggage-handling/" target="_blank" >Luggage Handling</a> .
        </ul>

    </div>

    <div>
        <h3>8 RIDER IDENTIFICATION</h3>
        <ul>
            <li><b>8.1</b> All riders must display their race numbers at all times.</li>

            <li><b>8.2</b> Bike numbers must remain firmly fixed on the front and rear of the bike, and should not be obscured by cables or any other item.</li>

            <li><b>8.3</b> Back numbers must be attached to the rider at all times in a visible position either on the rider’s jersey or on the back of his/her hydration pack. A Rider will not be penalized if his/her number is obscured while wearing a rain jacket.</li>

            <li><b>8.4</b> Race numbers should not be modified or mutilated in any way, including cutting, adding stickers, removing existing stickers or trimming.</li>

            <li><b>8.5</b> No official HERO MTB HIMALAYA 2017 sponsor logos should be removed from race numbers and/or be obscured in any way.</li>

            <li><b>8.6</b> Race and category leaders are obliged to wear the leader jerseys supplied by the race organisers.</li>

            <li><b>8.7</b> Podium finishers and overall category leaders must be present at the finish line awards ceremony and the daily awards ceremony at 8:30 pm (approx) in the rider dining marquee, including the final ceremony.</li>
        </ul>

    </div>

    <div>
        <h3>9 STAGE STARTS</h3>
        <ul>
            <li><b>9.1</b> Differential start zones will be allocated according to overall ranking in the race, and the organisers may allocate differently (i.e. ‘staggered’) start times for each starting zone. Should staggered start times be allocated, any reference to start times in these rules will be to the start time applicable to the particular rider’s start zone.</li>

            <li><b>9.2</b> The leader in the men category as well as the overall leaders in each of the other categories will be called up. Rider is obliged to assemble and the start paddock immediately next to the start line no later than 10 minutes before the start.</li>

            <li><b>9.3</b> The seeded starting zones will close strictly 10 minutes before their start time. Rider arriving late might be asked to start at the back of the field.</li>

            <li><b>9.4</b> Rider(s) reporting late at the start zone will be penalized 1 min-per-min delay for first 15 minutes and 2 min-per-min delay for next 15 minutes after which for any further delay, the rider(s) will be disqualified from the race.</li>
        </ul>
    </div>

    <div>
        <h3>10 ROUTE AND STAGES</h3>
        <ul>
            <li><b>10.1</b> Riders must complete the full designated route & distance of all stages.</li>

            <li><b>10.2</b> Only riders who complete each of the stages within the maximum stage time will qualify as official race finishers.</li>

            <li><b>10.3</b> Cut off time of the race is 5:30pm every evening. Rider(s) are requested to report to the nearest official after that.</li>

            <li><b>10.4</b> The actual race distance or route may vary from the published or briefed distance.</li>

            <li><b>10.5</b> A rider must at all times follow the official route, obey the directions of the course marshals, and may not take any shortcuts or take another advantage of a similar nature against competitors.The responsibility for following the official route lies with each rider.</li>

            <li><b>10.6</b> Riders who exit the route for any reason, must return to the course at the same point from which they exited, otherwise, it would lead to disqualification.</li>

            <li><b>10.7</b> Any walking, running or riding by a rider, which is carried out without the intention of directly re-joining the route, or any other activity in breach of the rules, which takes place outside of the marked course area, is not permitted.</li>

            <li><b>10.8</b> No rider shall trespass at any time on land which is not open to the public for mountain biking & which does not form a part of the race route.</li>
        </ul>
    </div>

    <div>
        <h3>11 DISCLAIMER</h3>
        <ul>
            <li><b>11.1</b> Participation in <em>HERO MTB HIMALAYA</em> 2017 occurs strictly at one’s own risk. The liability of the event organizers (including third party claims) is limited to deliberate intent or gross negligence. This also applies to any of the auxiliary persons or vicarious agents that are deployed in the event by the race organizer. Any contractual liability of the race organizer for damages is excluded as long as they do not involve or result from grossly negligent or intentional agents.</li>

            <li><b>11.2</b> The race organizers cannot be held liable for any default in services that relate to external service by third parties for whom the race organizer only served as an intermediary contact and which were clearly identified as external services within the description of event services.</li>

            <li><b>11.3</b> The race organizers cannot be held liable for any fault in services that are the result of statutory provisions or official directives, which prevents the
            rider from riding in the event altogether or in part.</li>

            <li><b>11.4</b> The race organizers cannot be held liable for participant’s lost or stolen clothing, valuables or equipment. Participants are advised to carry adequate insurance.</li>

            <li><b>11.5</b> If a participant requires or enlists third party services, in particular search and rescue services, the race organizers are indemnified from payment. The participant further authorizes the race organizers to collect any charges.</li>

            <li><b>11.6</b> By registering for the event, participants acknowledge their consent to the collection, circulation, and publication of event-related data such as individual’s stage name, placement, result as well as photographs, movie and interview records, without any remuneration.</li>
        </ul>
    </div>

</div>
