<!--Banner Area Start-->
<div class="banner-area-travel list hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title title-three text-center">
          <div class="title-border" style="padding-bottom:30px">
            <h1 style="color:#00c0ff">International <span>Rider Advisory</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="breadcrumb three">
          <li><a href="index.html">Home</a></li>
          <li>{{breadcrum}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="hidden-md hidden-lg">
  <div class="row mobile-breadcrum-container">
      <div class="col-md-12 mobile-breadcrum-row">
          <ul class="mobile-breadcrum">
              <li><a href="index.html">Home</a></li>
              <li>{{breadcrum}}</li>
          </ul>
      </div>
  </div>
</div>
<!--End of Banner Area-->

<div class="service-area text-center" style="margin-top:25px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <div class="title-border">
                        <h1>Travel <span> Guide</span></h1>
                    </div>
                    <p>HOW TO GET TO INDIA? HOW TO GET TO SHIMLA TRANSFERS</p>
                    <a download="InternationalRiderAdvisory.pdf" href="assets/documents/InternationalRiderAdvisory.pdf" title="International Rider Advisory" class="button-one button-blue">Download for offline use</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="travel_guide">
                The best and the fastest way to get to India is by air. Flights are available to New Delhi from almost anywhere in the world. The riders can then take another flight to Chandigarh or alternatively do a train journey or road journey to Shimla. The port of entry in India should be New Delhi which offers the maximum possible options to reach Shimla (which will be the start point of the race).
                <br> <br>
                Shimla as a town is setup in the Shivalik hills of the Himalayas. The town is situated at an altitude of 7200 ft (2150 m above sea level). As a town Shimla boasts of a rich history and exquisite nature.
                It served as the erstwhile capital of the British Raj in India, in summers. Also known as the summercapital of India, Shimla offers a beautiful mix of modernity as well history. You can almost smell the grandeur of the British Raj walking through the densely covered pine forests. An evening walk on the mall road which has served as the centre of the town for centuries will leave you enchanted!
                <br> <br>

                <h2>Entry into India - New Delhi</h2>
                <p>
                    Closest Airport to Shimla - Chandigarh<br>
                    Chandigarh to Shimla Distance by road - 115 km<br>
                    Delhi to Shimla Distance by road - 350 km<br>
                </p>

                <br>

                <h2>The multiple options to get to Shimla are:</h2>
                <ul>
                    <li><b>1. Delhi to Shimla by road:</b> You can either take Volvo/ AC Semi Sleeper buses from Mandi House to Shimla or a cab fromthe airport straight to Shimla. The bus will cost you $15 per person whereas the cab will cost you nearly $150. An average of 3 persons can travel in a cab with their bikes.
                    Cab recommended – Toyota Innova. (We can arrange Bus bookings as well as cab pickups for
                    riders as and when they need)</li>
                    <li><b>2. Delhi to Shimla by rail:</b> The travellers can take the Shatabdi train or the Himalayan queen to
                    Kalka and then take the toy train from Kalka to Shimla. The rail route between Kalka and
                    Shimla is a UNESCO World Heritage and an engineering feat. It boasts of 103 tunnels cut
                    through the Shivaliks over an 80 km stretch. An incredibly beautiful rail route is a major tourist attraction in the region and is definitely worth doing. It might take you a couple of hours extra as compared to a road ride but we vouch for the natural beauty to see over the 80 km.</li>
                    <li><b>3. Chandigarh to Shimla by road:</b> Chandigarh to Shimla by road is 115 km and cab will charge
                    you nearly $50 and will get you to Shimla in around 3 hours. It’s a hilly road and people who
                    get motion sickness are advised to take medication atleast 30 minutes before starting the
                    journey.</li>
                </ul>

                <h2>WHERE TO STAY?</h2>

                <ul>
                    <li><b>1. In Delhi:</b> Multiple hotels close to the airport in Aerocity offer very modern and western accommodation. We highly recommend Hotel Ibis near the airport. It has a swimming pool,
                    Free Wifi and very friendly staff.
                    Delhi has innumerable hotels and the riders can book a place according to their needs.
                    TripAdvisor, Booking.com, OYO Rooms all are trustworthy websites that help you choose
                    hostels according to your budget.</li>
                    <li><b>2. In Shimla</b> The race will offer you accommodation starting from 24th September till 3rd October.Any days other than this we recommend that you make your relevant bookings.
                        <i>We recommend the following places :</i>
                        <ul>
                            <li><b>1. </b>Hotel Woodville Palace</li>
                            <li><b>2. </b>Hotel East Bourne</li>
                            <li><b>3. </b>Hotel Willow Banks</li>
                            <li><b>4. </b>Hotel Marina</li>
                            <li><b>5. </b>Hotel Combermere</li>
                        </ul>
                    </li>
                </ul>

                <h2>WHEN TO GO?</h2>
                <p>We recommend that the riders should ideally get to Shimla by the 24th September. They should get acclimatised to the altitude and maybe get some miles on their bikes in the region. Shimla has all kind of riding trails - From single track to jeep tracks to tarmac climbs.<br>
                The racing begins on the 29th, hence all riders must report LATEST by 28th Morning in Shimla. Please see that accommodation and food etc before the 28th must be paid by the riders. Our representatives can make relevant bookings for you on request and will be present to receive and guide you in Shimla.</p>

                <h2>CURRENCY</h2>
                <p>We recommend that riders must carry Indian rupees with them. The only accepted currency will be the Indian Rupee. You can easily get money exchanged from either the airport or enters in both Delhi and Shimla. We recommend you carry - American Dollar, British Pound or the Euro from yourcountry as it is easy to get them converted into Indian rupee.</p>

                <h2>PLACES TO VISIT</h2>
                <ul>
                    <li><b>In New Delhi:</b> Lodhi Gardens, Lal Qila(Red Fort), Old Delhi, Jama Masjid, Hauz Khas Village, Qutub Minar, Lotus Temple, Akshardham Temple</li>
                    <li><b>Close to Delhi:</b> Agra(Taj Mahal) , Rajasthan - Jaipur, Bangarh, Udaipur, Jaisalmer, Rishikesh, Haridwar</li>
                    <li><b>In Shimla:</b> Viceregal Lodge, Wild Flower Hall, The Mall Shimla, Shimla Museum, Walks around the forest road, Jakhoo Temple, Hike to Tara Devi Temple</li>
                </ul>
            </div>

        </div>
    </div>
</div>
