<!--Banner Area Start-->
        <div class="banner-area-rules list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title title-three text-center">
                            <div class="title-border" style="padding-bottom:30px">
                                <h1 style="color:#00c0ff">Terms and <span>Conditions</span></h1>
                            </div>
                            <p class="text-white" ></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="breadcrumb three">
                            <li><a href="index.html">Home</a></li>
                            <li>Terms</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!--End of Banner Area-->

<div class="service-area text-center" style="margin-top:15px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <div class="title-border">
                        <h1>Terms and <span> Conditions</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div>
        <h3>1. CONCLUSION OF CONTRACT</h3>
        <ul>
            <li>1.1 Receipt of your completed registration presents a binding submission of your application to the race organizer, HASTPA.</li>
            <li>1.2 Your signature on the registration form or clicking the appropriate field during the online registration process indicates that you accept and understand the entry conditions and the race regulations. You acknowledge and assure that you have read and accept to abide by all race regulations. Once you receive the confirmation, your agreement with the organizers is binding.</li>
            <li>1.3 The organizers reserve any right to award waiver of any kind on the registration fees to anyone.</li>
            <li>1.4 The organizers are not responsible to provide any services other than the ones mentioned. Additional services, particularly with regard to personal and technical support, will be offered only if agreements were made on such matters in writing ahead of the actual event.</li>
        </ul>
    </div>

    <div>
        <h3>2. OBLIGATIONS</h3>
        <ul>
            <li>2.1 Each participant is responsible to ensure adequate physical and mental preparedness and aptitude for the event, along with medical consultation if necessary. Participants accept full responsibility for their equipment and it being in good working order.   to be worn at all times during the race and has to meet international safety standards. Racers are obliged to abide by all directives and guidelines defined by the organizing committee and any instructions given by the race staff/ aides.</li>
            <li>2.2 Foreign nationals are advised to obtain all necessary information from the respective consulates. It is the responsibility of each participant to make sure they have obtained valid travel authorizations and documents, which may be required for participation in HERO MTB HIMALAYA 2017.</li>
        </ul>
    </div>

    <div>
        <h3>3 ACCREDITATION</h3>
        <ul>
            <li>Each participant receives the starter
package during the accreditation
process only upon presenting the
following:
A The confirmation of registration
B Photo ID
If the participant can’t appear in person,
a substitute with power of attorney
may pick up the starter package. The
starter package will not be mailed/
couriered to the participants</li>
        </ul>
    </div>

    <div>
        <h3>4 TERMINATION OF CONTRACT BY ORGANISER</h3>
        <ul>
            <li>4.1 HASTPA may cancel the contract
with the participant if:
A The participant violates the race
rules and regulations issued to the
participant before or during the event
B The participant contravenes
instructions by the race organizers,
staff or aides.
C The participant interferes with/
disrupts the event in a lasting manner
or presents a threat to himself/herself
or others.</li>

            <li>
                4.2 The case of cancellation by the
    race organizer does not change their
    entitlement to the prepaid race fees.
            </li>

        </ul>
    </div>


    <div>
        <h3>5 TERMINATION OF RACE</h3>
        <ul>
            <li>In case the race is to be canceled or
terminated due to an ‘Act of God’
or a participant does not show up
at the race, for reasons that the race
organizers cannot be held accountable
for, the participant is not entitled
to any reimbursement of race fees,
or compensation, such as travel or
accommodation expenses from the
race organizer, HASTPA.</li>
        </ul>
    </div>

</div>
