<!--Banner Area Start-->
<div class="banner-area-home list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title title-three" id="animate_this">
                    <div class="title-border">
                        <img src="assets/img/logo/logo_large.png" style="width: 60%" alt="ADVENTURES"><br>
                        <h1  style="color:#00c0ff; padding-bottom:5px">Hero MTB <span>Himalaya 2017</span></h1>
                        <p class="text-white">September 28<sup>th</sup> 2017 to 7<sup>th</sup> October 2017</p>
                        <img src="assets/img/sponsors/hero_cycles.png" style="width: 36%" alt="Hero Cycles| Title Sponsors"><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Banner Area-->
<app-our-tags></app-our-tags>
<app-small-about></app-small-about>
<app-small-gallery></app-small-gallery>
<app-our-subscribe></app-our-subscribe>
<app-major-blog></app-major-blog>
<app-our-sponsors></app-our-sponsors>
