<!--Banner Area Start-->
<div class="banner-area-physio list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title title-three text-center">
                    <div class="title-border" style="padding-bottom:30px">
                        <h1 style="color:#00c0ff">We believe that <span>the other person is on our side</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="breadcrumb three">
                    <li><a>Home</a></li>
                    <li>Physio</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End of Banner Area-->
<div class="contact-information-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center" >
                    <div class="title-border">
                        <h1>Post Race <span>Therapy</span></h1>

                    </div>
                    <p>Post race therapy Services offered at 13th Hero MTB Himalaya 2017- By <i>Sanja Steyn</i> and <i>Corinne Smith</i></p>
                    <ul>
                        <li>Assessment, diagnosis and treatment of acute / chronic injuries</li>
                        <li>Taping</li>
                        <li>Education and advice</li>
                        <li>Strength & conditioning</li>
                        <li>Exercise therapy</li>
                        <li>Manual therapy (mobilisation) and massages</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Blog Post Area Start-->
<div class="blog-post-area section-padding blog-post-two">
   <div class="container">
       <div class="row">
            <div class="col-md-12">
               <div class="single-blog-post">
                   <div class="row">
                       <div class="col-md-3 col-sm-3">
                            <div class="blog-image">
                               <a><img src="assets/img/physio/sanya.jpg" alt="sanya"></a>
                           </div>
                       </div>
                       <div class="col-md-9 col-sm-9">
                           <div class="blog-two-text-container">
                               <div class="single-blog-post-text">
                                   <h4><a>Sanja Steyn </a></h4>
                                   <div class="author-comments">
                                       <span><i class="fa fa-university"></i>Honors in Biokinetics at the University  of Stellenbosch</span>
                                       <br>
                                       <span><i class="fa fa-university"></i>Sports Massage + Sports Strapping , Indoor Spinning and Pilates Instructor Certification</span>
                                       <br>
                                   </div>
                                       <p>
                                         Sanja has 8 years of Biokinetic and rehabilitation experience with her main focus being on orthopaedic and Sport specific injuries. Her interest in cycling has also led her to aquire her UCI cycling coaching qualification. She has worked extensively in the corporate sector and took up the position of in-house Biokineticist at FNB bank in Cape Town and is currently based in Port Elizabeth.
                                        <br>
                                        She has been a part of Transcape, JoBurg2C, Absa Cape Epic and Wines2Whales as a Sports massage therapist.
                                      </p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
            <div class="col-md-12">
               <div class="single-blog-post">
                   <div class="row">
                       <div class="col-md-3 col-sm-3">
                            <div class="blog-image">
                               <a><img src="assets/img/physio/Corinne.jpg" alt="Corinne"></a>
                           </div>
                       </div>
                       <div class="col-md-9 col-sm-9">
                           <div class="blog-two-text-container">
                               <div class="single-blog-post-text">
                                   <h4><a>Corinne Smith</a></h4>
                                   <div class="author-comments">
                                       <span><i class="fa fa-university"></i> BSc (Hons) in Physiotherapy, from the University of Nottingham (UK)</span>
                                       <br>
                                       <span><i class="fa fa-university"></i>Registered with the Health and Care Professions Council (Chartered Physiotherapist status)</span>
                                       <br>
                                       <span><i class="fa fa-university"></i>Member of the Association of Chartered Physiotherapists in Sports and Exercise Medicine</span>
                                       <br>
                                   </div>
                                   <p>Corinne is a Chartered Physiotherapist based in the UK and holds a BSc (Hons) Degree in Physiotherapy from the University of Nottingham. She has 5 years experience specialising in musculoskeletal and sports injuries; She has experience of working with Premier league football academies, National Rugby Union and various running, cycling and triathlon events including events such as; Rumble in the Jungle (Sri Lanka), Yak Attack (Nepal) and Oxfam Trail Walker (UK).
                                </p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
       </div>
       <div class="col-md-12">
           <a href="https://www.townscript.com/e/13th-hero-mtb-himalaya-2017-333434" target="_blank"><button type="button" style="width:100%; height:100px; font-size:24px" class="btn btn-success">Book your post race therapy sessions at Race Camps</button></a>
       </div>
   </div>
</div>
<!--End of Blog Post Area -->
