/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 830px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.ai{
    margin-top:10px
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

input.ng-invalid.submitted, input.ng-invalid.ng-dirty, input.ng-invalid.ng-touched,
textarea.ng-invalid.submitted, textarea.ng-invalid.ng-dirty, textarea.ng-invalid.ng-touched,
select.ng-invalid.submitted, select.ng-invalid.ng-dirty, select.ng-invalid.ng-touched{
    border-left: 4px solid red;
}

input.ng-valid.ng-touched, input.ng-valid.submitted,
textarea.ng-valid.ng-touched, textarea.ng-valid.submitted,
select.ng-valid.ng-touched, select.ng-valid.submitted{
    border-left: 3px solid green;
}

input.ng-pristine, textarea.ng-pristine, select.ng-pristine{
    border-bottom: 1px solid blue;
}

.resizelock {
   resize: none;
}
